body{
	background-color: #c2c1c0;
	text-align: justify;
}
h1,h2{
	color: #05919e;
}
strong{
	color: #c27408;
}
ul, ol{
	font-family: Georgia, serif, cursive;
}
p.comment{
	font-style: italic;
}
a:link{
	color: #0ed7e6;
}
a:visited{
	color: #e87509;
}
a:hover{
	color: #09e8a1;
}
a:active{
	color: #e809ca;
}