body{
	background-color:#ffffff;
	color: #404040;
	font-size:11pt;
	font-family:Georgia,Garamond,serif;
}
h1,h2{
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif ;
	text-decoration: underline;
}
h1{
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}
h2{
	text-align: left; 
	font-size:18pt;
}

a{
	color:#A4A400;
}
pre{
	display: block;
	white-space: normal;
}
div{
	width: 200px;
	height: 50px;
	overflow: visible;
}
ul.pie_description{
	list-style-type: none;
	padding-left: 0;
}
ul.user_quotation>li{
	font-style: italic;
	background-color:#FFFFA8;
	list-style-type: none;
}
li.user_comment:before{
	content: "-";
}
li.user_comment{
		margin-bottom: 1em;
		padding-top:1em;
}
a.links{
	display: block;
}
p.copyright{
	text-align-last: right;
	float: left;
	font-family: monospace;
}
div.after{
	clear:left;
}
hr{
	border:0.7px solid #8c8b8b; 
}
body{
	background-image:url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-repeat: repeat;
}
.custom-list{
	list-style-image:url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}
h1, h2{
	word-spacing: 0.25em;
}
h2{
	display: inline-block;
}
q{
	quotes: none;
	font-weight:bold;
}